.search-box {
  width: 60%;
  margin: 0 auto;
  max-width: 60%;

  .input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .loader-and-clear-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 12px;
  }
}

@media screen and (max-width: 768px) {
  .search-box {
    width: 100%;
    max-width: 100%;
  }
}
