html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container.red-snackbar {
  --mdc-snackbar-container-color: #f44336;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.green-snackbar {
  --mdc-snackbar-container-color: #4CAF50;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container .mat-simple-snackbar-action {
  color: #fff;
  font-weight: bold;
}
